.card
  .card-header
    %h3.card-title Heatmap

    .card-options
      #cal-previous.btn.btn-sm.btn-secondary
        %i.fe.fe-arrow-left
      #cal-next.btn.btn-sm.btn-secondary.ml-2
        %i.fe.fe-arrow-right

  .card-body.mx-auto
    .heatmap-full{ id: "cal-heatmap-#{@card.id}", 'data-punchcard': @card.id }


:javascript
  function dateParser(data) {
    var keys = Object.keys(data);
    var parsed = {};
    for(key in keys) {
      newKey = parseInt(keys[key]) + parseInt((new Date( keys[key] * 1000 )).getTimezoneOffset() * 60);
      parsed[newKey] = data[keys[key]];
    }
    return parsed;
  }

  // Get the corresponding Punchcard ID
  var punchcard_id = $(".heatmap-full").attr('data-punchcard');
  var path = '/punchcards/' + punchcard_id + '/records.json';

  var cal = new CalHeatMap();
  cal.init({
    itemSelector: '.heatmap-full',
    data: path,
    start: new Date().setMonth(new Date().getMonth() - 11),
    maxDate: new Date(),
    domain: "month",
    subDomain: "day",
    itemName: ["hour", "hours"],
    cellSize: 12,
    range: 12,
    previousSelector: "#cal-previous",
    nextSelector: "#cal-next",
    rowLimit: 7,
    highlight: "now",
    legendVerticalPosition: "bottom",
    legendHorizontalPosition: "right",
    tooltip: true,
    weekStartOnMonday: false,
    domainLabelFormat: "%b",
    label: {
      position: "top"
    },
    legend: [1, 3, 5],
    afterLoadData: dateParser
  });
