.row
  .col-md-12
    #record_area
      %h3 Latest Entries
      %ul.list-group
        - @records.each do |record|
          %li.list-group-item
            %h5.list-group-item-heading
              %strong= link_to record.date.strftime("%A %B %d %Y"), [@card, record]
              .pull-right.text-muted
                %i.fa.fa-clock-o
                %strong= record.hours

            %p.list-group-item-text= record.description.html_safe