.col-sm-6.col-lg-3
  .card.p-3
    .d-flex.align-items-center
      %span.stamp.stamp-md.bg-blue.mr-3
        %i.fe.fe-clock
      %div
        %h4.m-0
          = format_hours(@card.total_hours)
          %small Total Hours
        %small.text-muted
          Since
          = @card.start_time

.col-sm-6.col-lg-3
  .card.p-3
    .d-flex.align-items-center
      %span.stamp.stamp-md.bg-green.mr-3
        %i.fe.fe-file-text
      %div
        %h4.m-0
          = @card.records.count
          %small Total Entries
        %small.text-muted
          Since
          = @card.start_time
