.row
    .col-md-12
        %h3
            = @card.name
            .pull-right
                = link_to new_punchcard_record_path(@card), class: 'btn btn-default btn-xs' do
                    %i.fa.fa-calendar-check-o
                    Punch

        %p.text-center= @card.description

        // INSERT CAL HEAT MAP
        .row
            .col-md-6.text-center
                #cal-heatmap{ "data-id" => "#{@card.id}" }
                    :javascript
                        /* Get the corresponding Punchcard ID */
                        var punchcard_id = $("#cal-heatmap").attr('data-id');
                        
                        /* Construct a REST path for this punchcard */
                        var path = Routes.punchcard_records_path(punchcard_id, {format: 'json'});
                        
                        var cal = new CalHeatMap();
                        cal.init({
                            data: path,
                            start: new Date().setMonth(new Date().getMonth() - 6),
                            minDate: new Date().setMonth(new Date().getMonth() - 6),
                            maxDate: new Date(),
                            domain: "month",
                            subDomain: "day",
                            itemName: ["item", "hours"],
                            cellSize: 12,
                            range: 7,
                            rowLimit: 7,
                            legendVerticalPosition: "bottom",
                            legendHorizontalPosition: "right",
                            tooltip: true,
                            weekStartOnMonday: false,
                            domainLabelFormat: "%b",
                            label: {
                                position: "top"
                            },
                            onClick: function(date, nb) {
                                $("#record_area").html("<h4>" + date + "</h4>");
                            }
                            
                        });
                        
        %hr
        
        #record_area