.row.row-cards
  .col-md-12
    .card
      .card-header
        %h3.card-title Yearly Progress
      .card-body
        #yearly-progress.c3{style: 'height: 10rem;', 'data-source': @card.yearly_progress}