%h2
  %i.material-icons.text-muted sim_card
  My Punchcards

  .pull-right
    = link_to new_punchcard_path, class: 'btn btn-success rounded' do
      %i.fa.fa-plus
      %strong Create Punchcard

.card-deck
  - @cards.each_slice(4) do |cards|
    - cards.each do |card|
      = render 'punchcard_summary', card: card
