.row
  .col-md-12
    - @cards.each_slice(8) do |cards|
      .row
        - cards.each do |card|
          .col-md-3
            .text-center
              = link_to card do
                = emojify card.icon
                %h3= card.name
      %br
      %br