%h2
  Punchcards

  %ul.list-inline.pull-right
    %li
      = link_to new_punchcard_path do
        = image_tag 'icons/time_add.png', 'data-toggle': 'tooltip', 'data-placement': 'top', title: 'Create Punchcard'

- @cards.each do |card|
  = render 'punchcard', card: card
