%h2
  %i.material-icons.text-muted sim_card
  My Punchcards

  .pull-right
    = link_to new_punchcard_path, class: 'btn btn-success rounded' do
      %i.fa.fa-plus
      %strong Create Punchcard


- @cards.each_slice(3) do |cards|
  .row
    - cards.each do |card|
      .col-md-4
        = render 'punchcard_summary', card: card
