.row
    .col-md-4
        .panel.panel-default
            .panel-heading
                %b My Punchcards
                
                .pull-right
                    = link_to new_punchcard_path, class: 'btn btn-xs btn-success' do
                        %i.fa.fa-plus
                        New
            
            %ul.list-group
                - @cards.each do |card|
                    = link_to card, class: 'list-group-item', :remote => true do
                        %i{ class: "fa fa-#{card.icon}" }
                        %span
                        = card.name
                
    
    .col-md-8
        // CALENDAR AREA
        #punchcard_area
        