.page-header
  %h1.page-title
    My Punchcards

  .page-options.d-flex
    = link_to new_punchcard_path, class: 'btn btn-sm btn-success' do
      %i.fe.fe-plus
      Create Punchcard


- @cards.each_slice(3) do |cards|
  .row.row-cards
    - cards.each do |card|
      .col-md-4
        = render 'punchcard_summary', card: card
