.card
  .card-header
    %h3.card-title Create New Punchcard

  .card-body
    %p.text-muted Create a new punchcard so that you can start logging your time for a particular activity.

    = render 'form'
