.row.mb-5
  .col-md-12
    .text-center
      %h1
        %strong Go Premium

      %h4.text-muted Upgrade your free account to a Premium account and enjoy more features.

.row.align-items-center.justify-content-center
  .col-sm-6.col-lg-3
    = render 'home/premium_plan', mode: :pay
