.btn-group.btn-group-sm
  = link_to [:edit, resource], class: 'btn btn-secondary' do
    %span.fa.fa-pencil
    Edit
  = link_to resource, method: :delete, data: { confirm: 'Are you sure?' },
    class: 'btn btn-danger' do
    %span.fa.fa-trash
    Delete