= search_form_for @q, url: punchcard_records_path, class: 'form-inline' do |f|
  = f.search_field :description_cont, placeholder: 'Search', class: 'form-control mb-2 mr-sm-2'

  = f.submit 'Search', class: 'btn btn-primary mb-2'
