body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5;
  background-color: white;
  color: #4A4A4A;
  -webkit-font-smoothing: antialiased;
}

.welcome {
    text-align: center;
    position: relative;
    color: #fff;
    padding-bottom: 1px;
    margin-bottom: 8rem;
    background: linear-gradient(to right, #1488cc, #2b32b2);
}
