.header.collapse.d-lg-flex.p-0
  .container
    .row.align-items-center

      / Nav
      .col-lg.order-lg-first
        %ul.nav.nav-tabs.border-0.flex-column.flex-lg-row
          %li.nav-item
            = link_to root_path, class: 'nav-link' do
              %i.fe.fe-grid
              My Punchcards

          %li.nav-item
            = link_to today_path, class: 'nav-link' do
              %i.fe.fe-calendar
              Today